*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
 font-size: 62.5%;
}

body{
  background: linear-gradient(45deg, #190361 0%, #B0F 100%);
  display: grid;
  place-items: center;
  align-items: end;
  height: 100vh;

}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Primeira pagina */

.screen1{
  border-radius: 2rem;
  background: whitesmoke;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
  padding: 3rem 4rem 4rem 4rem;
  width: min(42.8rem, 90%);
  height: min(42.4rem, 90%);
  text-align: center;
}

.screen1, p{
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  color: #34355B;
}

.screen1, img{
  flex-shrink: 0;
  width: min(30rem, 90%);
  margin-top: 1.65rem;
}

/*Animacao da primeira parte*/

@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% { transform: translate(-5px, 5px); }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% { transform: translate(5px, -5px); }
  100% { transform: translate(0, 0); }
}

.cookieImg{
  cursor: pointer;
}

.cookieImg:hover{
  animation: shake 0.3s ease-in-out;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
  color: #34355B;
}


#hide{
  display: none;
}

/*Segunda Pagina*/

.screen2{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background: whitesmoke;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
  padding: 3rem 4rem 3rem 4rem;
  width: min(42.8rem, 90%);
  height: min(56.4rem, 90%);
  text-align: center;
}

.screen2 button{
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  border-radius: .5rem;
  padding: 1rem;
  color: whitesmoke;
  background-color: #FF9500;
  cursor: pointer;
  width: min(20rem, 90%);
  border: none;

  transition: background-color .3s;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
}

button:hover{
  background-color: #d87e0f;
}

/*Animacao da segunda parte*/

@keyframes cookieMessage {
  0% {
    transform:  translateY(190%) scale(0);
  }
  100% {
    transform:  translateY(0) scale(1);
  }
}

.animation2{
  animation: cookieMessage 1.5s ease-in-out;
}

.cookieMessage{
  padding: 1.0rem;
  border-radius: .5rem;
  background: #E4EDF1;
  width: min(27.3rem, 90%);
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50)
  
}

.cookieMessage p{
  font-family: 'Dancing Script', sans-serif;
  font-weight: normal;
  font-size: 2.4rem;
  text-align: center;
}





